[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
psycopg2-binary = "*"
configparser = "*"
pillow = "*"

[requires]
python_version = "3.7"
