:root {
	--mainAccent: #39b891;
	--mainLight: #95b0b2;
	--mainWhite: #fef4f5;
	--mainDark: #2b3e50;
}

body {
	background: var(--mainLight);
}

h1 {
	color: var(--mainWhite);
}

a {
	color: var(--mainLight);
}

a:hover {
	color: var(--mainAccent);
}

ul.dashed {
	list-style-type: none;
}
ul.dashed > li {
	text-indent: -15px;
}
ul.dashed > li:before {
	content: "- ";
	text-indent: -15px;
}

.code {
	color: var(--mainDark);
}

.navbar {
	background-color: var(--mainDark);
	margin-bottom: 1rem;
}

.logo {
	height: 2rem;
}

.nav-link {
	color: black !important;
	font-size: 1.1rem;
}
.nav-btn {
	font-family: 'Roboto', sans-serif;
	border: none;
	background: var(--mainDark);
	color: var(--mainWhite);
	font-size: 1.2rem;
	border-radius: 0.3rem;
	padding: 0.2rem 0.8rem;
	cursor: pointer;
	margin: 0.2rem 0.5rem 0.2rem 0;
	transition: all 0.1s ease-in-out;
}
.nav-btn:hover {
	background: var(--mainAccent);
}
.nav-btn:focus {
	outline: none;
}

i{
	margin-right: 0.3rem;
}

.guide {
	padding: 12px 20px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	margin-bottom: 15px;
}

.color-text {
	color: var(--mainAccent);
	font-size: 1.25rem;
}
