{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block robots %}
		{% endblock %}

		<title>The Mobile Store - REST API</title>
		
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
			integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
			crossorigin="anonymous"
		/>
		<link 
			rel="stylesheet" 
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
			crossorigin="anonymous"
		/>
		<link 
			rel="styesheet" 
			type="textl/css" 
			href="{% static "rest_framework/css/default.css" %}"
    	/>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="{% static "rest_framework/css/prettify.css" %}"
   		/>
		<link rel="stylesheet" href="{% static 'styles.css' %}"/>
		<link rel="shortcut icon" href="{%  static 'favicon.ico' %}"/>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark px-sm-5">
			<a href="https://the-mobile-store.netlify.com/">
				<img class="logo" src="{% static 'logo.png' %}" alt="The Mobile Store logo" />
			</a>
			<a class="ml-auto mr-0" href="{% block link %}{% url 'home' %}{% endblock %}">
				<button class="nav-btn">
					<span>
						{% block bookmark %}
							<i class="fas fa-bookmark"></i>
							<span>API Guide</span>
						{% endblock %}
					</span>
				</button>
			</a>
		</nav>
		<div class="wrapper">
			{% block wrapper %} 
				<div class="container">
					<div id="content">       
						<div class="content-main">
							
							<div class="page-header">
								<h1>{% block header %} API Guide {% endblock %}</h1>
							</div>
			
							{% block content %}
							{% endblock %}
			
						</div>
					</div>
				</div>
			{% endblock %}
		</div>

		{% block script %}
		{% endblock %}

	</body>
</html>
