{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The Mobile Store - REST API</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <nav class="">
      <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" class="logo" alt="The Mobile Store logo" /></a>
    </nav>
    <header class="">
      <h1>The Mobile Store - REST API</h1>
    </header>
    <div class="wrapper">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>